@model GetDashboardVMs

<section>
    <h1 id="dashboard">Dashboard</h1>
    <div class="dashboard-edit">
        <div class="dashboard-user">
            <img src="~/assets/css/images/Redwan logo.png" alt="" />
            <div class="dashboard-text">
                <h3>Redwan husein</h3>
                <h3>UI / UX DESIGNER & UX WRITER</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button>Edit Profile</button>
            <img src="./assets/css/images/arrow-dashboard.png" alt="" />
        </div>
    </div>
    <h1 id="actions">Quick Actions</h1>
    <div class="actions">
        <div class="quick-actions"><h5>Photo</h5></div>
        <div class="quick-actions"><h5>Name</h5></div>
        <div class="quick-actions"><h5>Surname</h5></div>
        <div class="quick-actions"><h5>Salary</h5></div>
        <div class="quick-actions"><h5>Bonus</h5></div>
    </div>

    <div id="tables">
        <div class="book-open">
            <img src="~/assets/css/images/book-open.png" alt="" />
            <h1 id="table">Leave Application</h1>
        </div>
        <div class="cards">
            <div class="cart">
                <div class="img">
                    <h1>60</h1>
                </div>
                <div class="card-text">
                    <h4>Annual Leave</h4>
                    <button>Apply</button>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <h1>20</h1>
                </div>
                <div class="card-text text-20">
                    <h4>Sick Leave</h4>
                    <button>Apply</button>
                </div>
            </div>
            <div class="cart">
                <div class="img">
                    <h1>50</h1>
                </div>
                <div class="card-text text-20">
                    <h4>Maternity Leave</h4>
                    <button>Apply</button>
                </div>
            </div>
        </div>
        <div id="table">
            <div class="leave">
                <h4>Leave History</h4>
                <div class="filter">
                    <img src="~/assets/css/images/filter.png" alt="">
                    <button class="export-btn">Export</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name(s)</th>
                        <th scope="col">Duration(s)</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Reason(s)</th>
                        <th scope="col">Vacation Limit</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @foreach(GetDashboardVM item in Model)
                    {

                    <tr>
                            <td><img src="~/assets/image/@item.Image"></td>
                        <th scope="row">@item.Name</th>
                        <td>@item.Surname</td>
                        <td>@item.Salary</td>
                        <td>@item.Bonus</td>
                        
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>
</section>
